<%= form_with model: recipe do |form| %>

<div>
  <div><%= form.label :title, "name" %></div>
  <%= form.text_field :title %>
  <% recipe.errors.full_messages_for(:title).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <div><%= form.label :description, "description" %></div>
  <%= form.text_area :description %>
  <% recipe.errors.full_messages_for(:description).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <div><%= form.label :ingredients, "ingredients" %></div>
  <%= form.text_area :ingredients %>
  <% recipe.errors.full_messages_for(:ingredients).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <div><%= form.label :body, "directions" %></div>
  <%= form.text_area :body %>
  <% recipe.errors.full_messages_for(:body).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <%= form.submit "create recipe" %>
</div>

<% end %>
