<h1><%= @recipe.title %></h1>

<%= sanitize(Kramdown::Document.new(@recipe.ingredients).to_html) %>

<%= sanitize(Kramdown::Document.new(@recipe.body).to_html) %>

<ul>
  <li><%= link_to "edit", edit_recipe_path %></li>
  <li><%= link_to "all recipes", root_path %></li>
</ul>
