<h1><%= @recipe.title %></h1>

<%= sanitize(Kramdown::Document.new(@recipe.description).to_html) %>

<h5>ingredients</h5>
<%= sanitize(Kramdown::Document.new(@recipe.ingredients).to_html) %>

<h5>steps</h5>
<%= sanitize(Kramdown::Document.new(@recipe.body).to_html) %>

<%= link_to "edit", edit_recipe_path %>
