<!DOCTYPE html>
<html>
  <head>
    <title>kitchen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="sidebar">
      <h3>kitchen</h3>
      <p><%= link_to "all recipes", root_path %></p>
      <p><%= link_to "new recipe", new_recipe_path %></p>
    </div>
    <%= yield %>
  </body>
</html>
